GATSBY_ARC_GIS=

GATSBY_API_URL=
GATSBY_SOCKET_URL=
GATSBY_GOOGLE_SITE_VERIFICATION=
GATSBY_GOOGLE_ANALYTICS=
GATSBY_SITE_MAP_URL=
GATSBY_SENTRY_DSN_URL=
GATSBY_GOOGLE_CLIENT_ID=

NODE_OPTIONS=--max_old_space_size=4096